nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: #221f1f;
  z-index: 100;
  color: white;
}

.nav__logo {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.searchbar__container {
  display: flex;
  align-items: center;
  flex: 5;
}

.nav__searchButton {
  background-color: #e50914;
}

.nav__searchBar,
.nav__searchButton {
  font-size: 1.5rem;
  padding: 0.5rem;
}

.nav__searchBar:focus,
.nav__searchButton:focus {
  outline: none;
}

.nav__searchBar {
  width: 80%;
  height: 50px;
  border: none;
}

.nav__searchButton {
  border-radius: 0 20px 20px 0;
  border: none;
}

.nav__searchButton:hover {
  cursor: pointer;
  background-color: orange;
}

@media only screen and (max-width: 768px) {
  nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.5rem 0;
  }

  .nav__logo {
    font-size: 1.5rem;
  }

  .nav__searchBar,
  .nav__searchButton {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav__searchBar {
    width: 80%;
    height: 25px;
    border: none;
    border-radius: 20px 0 0 20px;
    margin: 10px 0;
  }

  .nav__searchButton {
    height: 40px;
  }
}
